{{ template "base.layout.start" . }}
    <nav class="navBar">
      <div class="logo">
        <h4>MARTIN</h4>
      </div>
      <div class="nav">
        <ul>
          <li id="lk_about">O que é?</li>
          <li>Quem somos?</li>
          <li>Planos</li>
        </ul>
      </div>

      <div id="perfil">
        <button id="btn-signin">Entrar</button>

        <button id="btn-signup">Cadastrar</button>
      </div>
    </nav>

    <div id="face-page">
      <h1 id="main-title">
        Bem-vindo ao futuro.<br />Bem-vindo ao
        <span id="martin-text">Martin</span>.
      </h1>
    </div>
    <main>
      <section id="about">
        <p>
          Bem-vindo ao Martin, o seu portal essencial para a criação de roteiros
          de alta qualidade. No mundo competitivo do cinema e da televisão, a
          arte de escrever roteiros exige precisão, criatividade e técnica.
          Nosso site é dedicado a fornecer a todos os roteiristas, desde
          iniciantes a profissionais experientes, as ferramentas e recursos
          necessários para transformar ideias brilhantes em roteiros envolventes
          e bem estruturados.
        </p>

        <p>
          Nossa plataforma oferece uma ampla gama de ferramentas projetadas para
          simplificar e aprimorar o processo de escrita de roteiros. Com nossos
          recursos, você pode desenvolver e formatar seus roteiros com
          facilidade, garantindo que seu trabalho esteja sempre em conformidade
          com os padrões da indústria. Desde modelos de formatação e estruturas
          de roteiro até softwares avançados de escrita, estamos aqui para
          apoiar cada etapa do seu processo criativo.
        </p>

        <p>
          Além das ferramentas práticas, nosso site também é um centro de
          conhecimento para roteiristas em busca de aprimoramento contínuo.
          Oferecemos uma série de artigos, tutoriais e dicas sobre técnicas de
          escrita, desenvolvimento de personagens e construção de tramas. Nosso
          objetivo é equipar você com o conhecimento e as habilidades
          necessárias para destacar seu trabalho e alcançar o sucesso na
          indústria do entretenimento.
        </p>

        <p>
          Explore nossos recursos e descubra como podemos ajudar a transformar
          suas ideias em roteiros prontos para o palco ou a tela. No Martin,
          estamos comprometidos em apoiar a criatividade e o sucesso de cada
          roteirista, oferecendo as ferramentas e o conhecimento que você
          precisa para levar seus projetos ao próximo nível.
        </p>
      </section>
    </main>
{{ template "base.layout.end" . }}
